.content {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: auto;
}

.contentDados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
  gap: 40px;
}

.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.box2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.preview {
  display: grid;
  grid-template-columns: 1fr;
}