.container {
  background-color: #FFFFFF;
}

.content {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1325px;
  margin: auto;
  padding: 8px 5px;
}

.dadosAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dadosAvatar img {
  margin: 0 8px 0 0;
}

.dadosAvatar h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}