.container {
  padding: 30px 0px 20px;
}

.content {
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  min-height: 110px;
}

.content h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px;
}

ul {
  padding: 0px;
  margin: 0px;
}

.iconsRedes {
  display: flex;
  justify-content: space-around;
}

.iconsRedes li {
  list-style: none;
}

li > button {
  border: 1px solid #9E9E9E;
  border-radius: 100%;
  outline: 0;
  background-color: #DDDDDD;
  color: #333333;
  width: 33px;
  height: 33px;
}

li > button:disabled {
  color: #989898;
}

li > button:enabled {
  background-color: #ffffff;
}

li > button:hover:enabled {
  background-color: #FFF3E0;
  border: 1px solid #EF9F2E;
  color: #EF9F2E;
  cursor: pointer;
}

.enabled {
  background: linear-gradient(135deg, #EF9F2E 25%, #E02B4B 105.56%);
  border: 1px solid #EF9F2E;
  color: #ffffff!important;
  cursor: pointer;
}

