.container {
  padding: 30px 0px 20px;
}

.content {
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  min-height: 110px;
}

.content h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px;
}

ul.iconsRedes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
}

ul.iconsRedes li {
  list-style: none;
}

.icons, .disabled, .ativo {
  border: 1px solid #9E9E9E;
  border-radius: 50%;
  width: 17px;
  height: auto;
  padding: 8px;
  outline: 0;
}

.icons:hover {
  background-color: #FFF3E0;
  border-color: #EF9F2E;
  color: #EF9F2E;
  cursor: pointer;
}

.ativo {
  background: linear-gradient(135deg, #EF9F2E 25%, #E02B4B 105.56%);
  border-color: #EF9F2E;
  color: #ffffff;
  cursor: pointer;
}

.disabled{
  background-color: #DDDDDD;
  color: #989898;
}