.content {
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  width: 100%;
  max-width: 671px;
}

.content h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px;
}

textarea {
  border: 1px solid #949494;
  width: 100%;
  max-width: 639px;
  height: 146px;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4F4F4F;
  resize: none;
  margin-bottom: 10px;
}