.container{
  padding: 20px 0px 0px;
}

.content {
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  width: 100%;
  max-width: 671px;
  padding-bottom: 20px;
}

.content h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px;
}

.UpContainer{
  padding: 0 20px;
}

.stage {
  border: 1px dashed #BDBDBD;
  width: 100%;
  max-width: 620px;
  min-height: 140px;
  border-radius: 4px;
  padding-top: 30px;
}

.uploadIcon{
  font-size: 30px;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #828282;
}

.stage p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}

.upBtn {
  color: #2F80ED;
  border: 1px solid #2F80ED;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: auto;
  display: block;
  font-weight: bold;
  outline: 0;
}

.upBtn:hover {
  background-color: #F2994A;
  color: #ffffff;
  border-color: #E0812C;
}